.createPost {
  margin-top: 70px;
  width: 100%;
}

.main-feed {
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
margin: 0 auto;
margin-top: 60px;
max-width: 800px;
position: relative;
width: 100%;
}

.post__author-section {
  position: relative;
}

.post__author-section__postDate {
  position: absolute;
  right: 0px;
}

ion-icon {
  margin-top: 5px;
  font-size: 24px;
  /* padding: 10px; */
}

.post__action-buttons__item {
  margin: 10px;
  border: none;
  background-color: #FFFFFF;
  border-radius: 50%;

}

.post__action-buttons__item:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}

.post__like-count {
  padding: 0px 10px
}

.post__comments__list {
  list-style-type: none;
  padding: 0px;
}

.post__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  input{
    width: 100%;
  }
}
